<div class="col-xs-12 cell-md-6"
>
    <div class="row">
        <div
            ng-repeat="cell in block.cells.list"
            class="col-md-6 col-lg-4"
        >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <b>{$ cell.label $} </b>
                    <a class="btn btn-xs btn-danger pull-right"
                       ng-click="access.send_method(block,'remove_cell', cell)">
                        Remove
                    </a>
                </div>
                <div class="panel-body">
                        <div class="row">
                            <form class="form-inline">
                            <label class="control-label">
                                    From Index (1-based):
                            </label>
                            <input type="text" class="form-control"
                                        ng-model="cell.from_index">
                            <label class="control-label">
                                    To Index (1-based):
                            </label>
                            <input type="text" class="form-control"
                                        ng-model="cell.to_index">
                            <button class="btn btn-primary"
                                    ng-click="access.send_method(block, 'save_cell', cell)">
                                    Save
                            </form>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4"
             ng-hide="access.mode.ro"
        >
            <div class="well">
            <form class="form-inline">

                <label class="control-label">
                    Expression Set Feature Type
                </label>
                <div class="form-group">

                    <input type="text" class="form-control"
                           ng-model="block.cells.new.label">
                </div>
                <button class="btn btn-primary"

                   ng-click="access.send_action(block, 'add_cell')"
                >
                    Add
                </button>

            </form>
            </div>

        </div>

    </div>
</div>
